*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


/* Main */


.width-height{
    width: 500px;
    height: 300px;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.button-reg{
    margin-top: 55px;
}

.padding-reg{
    padding: 10px 32px;
}

.registration_confirm{
    color: #000000;
    border: 1px solid #101010;
    transition: background-color .2s,color .2s;
    border-radius: 6px;
    text-align: center;
    border-width: 2px;
}

.registration_confirm:hover{
    color: #ff8800;
    background-color: #ffffff;
    border-color: #ff8800;
}